:root {
    --heading-font-family: proxima-nova, sans-serif;
}
body {
    max-width: 800px;
    margin: auto;
    font-family: yorkten-slab-normal, sans-serif;
    font-style: normal;
    font-weight: 100;
}

header {
    margin-top: 10px;
    text-align: center;
}

h1 {
    font-family: var(--heading-font-family);
    margin: 0;
}

h2 {
    font-family: var(--heading-font-family);
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.heading-large {
    font-weight: 400;
    font-size: 1.8rem;
    margin-top: 20px;
    margin-bottom: 5px;
}

.heading-medium {
    font-weight: 300;
    font-size: 1.4rem;
    margin-top: 20px;
    margin-bottom: 5px;
}
