<html lang="en">
  <head>
    <link rel="stylesheet" href="/static/style.css">
    <title>Our favourite places</title>
  </head>
  <body>

    <header>
      <nav>
        <a href="/">Home</a>
        <a href="/list">The List</a>
      </nav>
    </header>

    <main>
      {{> page}}
    </main>

  </body>
</html>
