{{#> base}}
  {{#*inline "page"}}
    <h1 class="heading-large">Our favourite places</h1>

    <ul>
      {{#each categories}}
        <h2 class="heading-medium">{{category_name}}</h2>
        <ul>
          {{#each restaurants}}
            <li><a href="/restaurant/{{restaurant_id}}">{{restaurant_name}}</a></li>
          {{/each}}
        </ul>
      {{/each}}
    </ul>

  {{/inline}}
{{/base}}
